{% extends 'base.html' %}
{% block title %}  Skills {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="text-warning border-warning border-bottom mb-5" style="font-size: 30px;">SKILLS</div>
</div>
<div class="row text-center text-white mb-5">
    <div class="col-sm-4">
        <i class="fas fa-code fa-2x mb-3 i-color"></i>
        <h3 class="h-color">HTML</h3>
    </div>

    <div class="col-sm-4">
        <i class="fab fa-css3 fa-2x mb-3 i-color"></i>
        <h3 class="h-color">CSS</h3>
    </div>

    <div class="col-sm-4">
        <i class="fab fa-js fa-2x mb-3 i-color"></i>
        <h3 class="h-color">JAVASCRIPT</h3>
    </div>
</div>
<div class="row text-center text-white mb-5">
    <div class="col-sm-4">
        <i class="fab fa-bootstrap fa-2x mb-3 i-color"></i>
        <h3 class="h-color">BOOTSTRAP</h3>
    </div>

    <div class="col-sm-4">
        <i class="fab fa-python fa-2x mb-3 i-color"></i>
        <h3 class="h-color">PYTHON</h3>
    </div>

    <div class="col-sm-4">
        <i class="far fa-file-alt fa-2x mb-3 i-color"></i>
        <h3 class="h-color">DJANGO</h3>
    </div>
</div>

<div class="row text-center text-white mb-5">
    <div class="col-sm-4">
        <i class="fas fa-thumbs-up fa-2x mb-3 i-color"></i>
        <h3 class="h-color">DIGITAL<br>MARKETING</h3>
    </div>

    <div class="col-sm-4">
        <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
        <h3 class="h-color">WEB<br>DEVELOPMENT</h3>
    </div>

    <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
        <h3 class="h-color">ANALYSIS <br>AND DESIGN</h3>
    </div>
</div>
{% endblock content %}