{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=row>
        <div class="col-sm-12">
<img src="{% static 'images/w.jpeg' %}" style="width:400px;"><img src="{% static 'images/www.jpeg' %}" style="width: 400px;"><img src="{% static 'images/wwww.jpeg' %}" style="width: 400px;"></div></div>

<h1 class=>Abiya</h1>
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsa tempore, quam dignissimos recusandae molestias odio magni sint fugiat iure corporis eaque quibusdam dolore aut quia natus suscipit asperiores officia?</p>

<br>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente numquam architecto eveniet dolorum perspiciatis odio, optio cumque voluptas quae iure et deleniti quaerat non maiores modi, esse dolores earum eius.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum officiis dolor, sint consectetur quis perferendis nesciunt. Cum distinctio sint saepe omnis? Animi qui aperiam assumenda non, dolorum iure aut ducimus.
</div>
<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quidem ea ipsam molestiae eos eius natus vitae iusto maxime vero, minima libero quis dolore consequatur neque nostrum facilis magni. Dolorem.

<img src="{% static 'images/r7.webp' %}" class="tex">

{% endblock content %}