{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-4">
        <h3 class=" alert alert-info text-center"> Add New Student</h3> 
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    
  <div class="col-sm-8 offset">
    <h3 class="text-center alert alert-info">Show Student Information</h3>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for stu in st %}
          <tr>
            <th scope="row">{{stu.id}}</th>
            <td>{{stu.name}}</td>
            <td>{{stu.email}}</td>
            <td>{{stu.password}}</td>
            <td>
                <a href="{% url 'update'  stu.id %}" class="btn btn-warning btn">Update</a>
                <form action="{% url 'delete' stu.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
  </div>

</div>

{% endblock content %}