{% extends 'base.html' %}
{% block title %}<title>signup</title> {% endblock title %}

{% block content %}
<div class="col-sm-8 offset-2 mb-5 py-3">
{% if messages %}
{% for message in messages %}
<p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
    <div class="jumbotron jumbotron-container  bg-dark">
    <form action='' method="POST" novalidate class=" jumbo-colo">
        {% csrf_token %}
        {% for fm in fm %}
        {{fm.label_tag}} {{fm}} {{fm.errors}} <br><br>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="submit">
        <a class="btn btn-info" href="{% url 'login' %}">login</a>
    </form> 
    </div>
</div>
{% endblock content %} 